{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>LiveChat</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}" />
    
  </head>
  <body class="bg-blue-600">
    <!-- Apply overflow: hidden to body -->
    {% comment %} For Computers {% endcomment %}
    <div class="lg:block border-b-2 hidden overflow-hidden">
      <!-- Apply overflow: hidden to parent div -->
      <nav class="bg-blue-500 text-white flex justify-between px-5 py-5">
        <h3 class="px-5"><a href="{% url 'home' %}">LiveChat</a></h3>
        <ul class="flex">
          <li class="px-9 hover:text-blue-100">
            <a href="{% url 'discover' %}">Discover</a>
          </li>
          <li class="px-9 hover:text-blue-200">
            <a href="{% url 'safety' %}">Safety</a>
          </li>
          <li class="px-9 hover:text-blue-200">
            <a href="{% url 'support' %}">Support</a>
          </li>
          
        </ul>
        <li class="px-9 list-none">
          <a href="{% url 'register' %}"><i class="fa-solid fa-user"></i></a>
        </li>
      </nav>
    </div>

    {% comment %} For Mobile UI {% endcomment %}

    <div class="sm:block md:block lg:hidden border-b-2 overflow-hidden">
      <!-- Apply overflow: hidden to parent div -->
      <nav class="bg-blue-500 text-white flex justify-between px-5 py-5">
        <h3 class="px-5"><a href="{% url 'home' %}">LiveChat</a></h3>
        <li class="px-9 list-none see-btn">
          <img
            src="{% static './images/hamburger.png' %}"
            alt=""
            srcset=""
            class="h-7 hamburger-toggle"
          />
        </li>
      </nav>
    </div>
    <div class="relative lg:hidden overflow-hidden mobile-parent">
      <!-- Apply overflow: hidden to .m-info -->
      <div
        class="bg-blue-500 absolute m-info transition-transform transform translate-x-full text-center w-full overflow-hidden"
      >
        <ul>
          <li class="px-9 hover:text-blue-100">
            <a href="{% url 'discover' %}">Discover</a>
          </li>
          <li class="px-9 hover:text-blue-200">
            <a href="{% url 'safety' %}">Safety</a>
          </li>
          <li class="px-9 hover:text-blue-200">
            <a href="{% url 'support' %}">Support</a>
          </li>
          <li class="px-9 list-none">
            <a href="{% url 'register' %}"><i class="fa-solid fa-user"></i></a>
          </li>
        </ul>
      </div>
    </div>
    {% comment %} JavaScript For Mobile Responsiveness {% endcomment %}

    <script>
      let mobileDiv = document.querySelector(".m-info");
      let hamburger = document.querySelector(".hamburger-toggle");
      let mobileParent = document.querySelector(".mobile-parent");
      hamburger.addEventListener("click", () => {
        mobileParent.classList.toggle("h-48");
        mobileDiv.classList.toggle("translate-x-full");
      });
    </script>

    <script
      src="https://kit.fontawesome.com/255894ee43.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
