{% load static %}
{% load static tailwind_tags %} {% include 'LiveChat/loggedNav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    
    <title>Document</title>
</head>
<body>
    <body class="bg-blue-600">
        
        <div class="main block lg:flex justify-around mt-5 lg:mt-32 text-xl">
          <div class="text mx-32 text-center lg:mx-0">
            <i class="fa-solid fa-lock text-5xl"></i>
            <h3 class="text-sm lg:text-lg">User Profile</h3>
            
          </div>
          <div class="form flex flex-col items-center mt-11 lg:mt-0">
            {% if not form.errors %}
            <div class="messages text-center lg:mr-3">
            {% if messages %}
              {% for message in messages %}
                <h5 class="text-lg bg-green-500 p-3">{{message}}</h5>
              {% endfor %}
            {% endif %}
            {% endif %}
          </div>
          <form action="" novalidate method="post" class="text-center">
            {% csrf_token %}
            

            {% if form.non_field_errors %}
                {% for field in form.non_field_errors %}
                        <h5 class="">{{field}}</h5>
                {% endfor %}
            {% endif %}
            
            {% for field in form  %}
                {{field.label}} <h1>{{field}}</h1> {{field.errors|striptags}} <br>
            {% endfor %}

            <input type="submit" value="Change">
          </form>
        </div>

        </div>
    
        <script
          src="https://kit.fontawesome.com/255894ee43.js"
          crossorigin="anonymous"
        ></script>
</body>

{% include 'LiveChat/footer.html' %}
</html>