{% load static %}
{% load static tailwind_tags %} {% include 'LiveChat/loggedNav.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Document</title>
    {% tailwind_css %}
  </head>
  <style>
    
  </style>
  <body>
    <div class="main w-full h-[50vh] bg-blue-900 overflow-auto">
      <div class="outgoing-chat ">
      <div class="show-chat w-full h-full flex flex-col">
      
      </div>
    </div>
  </div>
</div>

<div class="input-main text-center">
<div class="input w-full text-center mt-5">
  <input type="text" name="" id="" class="h-3/6 w-full text-center text" placeholder="Type Something..">
</div>

<input type="button" value="Send Message" class="p-1 bg-blue-500 rounded-lg submit mt-2">

<div class="mt-2 p-10">
  <a href="{% url 'loggedIndex' %}">Go Back</a>

</div>
</div>
  </body>
  <script type="text/javascript">
    

let ws = new WebSocket(`ws://${window.location.host}:8000/ws/sc/writers/`);
let test = document.querySelector(".text").value;
ws.onopen = function(){
  
}




let sendBtn = document.querySelector(".submit")
let userInp = document.querySelector(".text")

let audioPath = "{% static 'audio/ting.mp3' %}"
let user = "{{request.user}}";
sendBtn.addEventListener('click',function(){
  let val = userInp.value

  ws.send(JSON.stringify({
    'msg':val,
    'token':user,
  }))
  
})



let audio = new Audio()
audio.src = audioPath;



async function audioPlay(){
  try{
  await audio.play()
  } catch(err){
    console.log("Audio error : ",err)
  }
}


ws.onopen = function(){
  audio.preload="auto"
}
ws.onmessage = function(event){
  let showChat = document.querySelector(".show-chat")
  let msg = JSON.parse(event.data)



  if (msg.msg === userInp.value) {
    if (msg.msg === "" || userInp.value === "") {
      console.log("Cannot Send Empty Messages");
  } else {
      // Create a new chat bubble element
      const newChat = document.createElement('div');
      newChat.className="flex justify-end";
      newChat.innerHTML = `
      <div class="bg-blue-200 rounded-md float-right mb-5">
        <span class="text-xs float-right">${msg.token} Sent : </span>
        <div class="bg-blue-200 rounded-md clear-both  p-2 w-36  flex justify-end">
              
              <h3 class="">${msg.msg}</h3>
              
              </div>
         </div>     
              `;
     
      showChat.appendChild(newChat);
      
      
      userInp.value = "";
  }
}
  else{
    
    showChat.innerHTML+=`
    <div class="bg-blue-200 rounded-md w-52 w-32 clear-both mb-5 ">
      <span class="text-xs float-right">${msg.token} Sent : </span>
      <h3 class="relative top-2">${msg.msg}</h3> <br>
     
    </div>    
    `
    audioPlay()
    
  }
}

if(performance.navigation.type==1){
  window.location.href=`http://${window.location.host}/loggedIndex`
}
  </script>
</html>
{% include 'LiveChat/footer.html' %}
