{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatApp</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}" />
    
    {% tailwind_css %}
  </head>
  <body class="bg-blue-600">
    <!-- Apply overflow: hidden to body -->
    {% comment %} For Computers {% endcomment %}
    <div class="lg:block border-b-2 hidden overflow-hidden">
      <!-- Apply overflow: hidden to parent div -->
      <nav class="bg-blue-500 text-white flex justify-between px-5 py-5">
        <h3 class="px-5"><a href="{% url 'home' %}">LiveChat</a></h3>
        <ul class="flex">
          <li class="px-9 hover:text-blue-200">
            <a href="{% url 'safety' %}">Memberships</a>
          </li>
          <li class="px-9 hover:text-blue-200">
            <a href="{% url 'support' %}">We are Hiring ! </a>
          </li>
          <li class="px-9 hover:text-blue-200">
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>

          <a href="{% url 'userProfile' %}"><i class="fa-solid fa-user"></i> 
            {% if not form.errors %}
                {{user}}
            {% endif %}
            
            {% if form.errors %}
              Kindly Change Your Username Correctly
            {% endif %}
          </a>
      </nav>
    </div>

    {% comment %} For Mobile UI {% endcomment %}

    <div class="sm:block md:block lg:hidden border-b-2 overflow-hidden">
      <!-- Apply overflow: hidden to parent div -->
      <nav class="bg-blue-500 text-white flex justify-between px-5 py-5">
        <h3 class="px-5"><a href="{% url 'home' %}">LiveChat</a></h3>
        <li class="px-9 list-none see-btn">
          <img
            src="{% static './images/hamburger.png' %}"
            alt=""
            srcset=""
            class="h-7 hamburger-toggle"
          />
        </li>
      </nav>
    </div>
    <div class="relative lg:hidden overflow-hidden mobile-parent">
      <!-- Apply overflow: hidden to .m-info -->
      <div
        class="bg-blue-500 absolute m-info transition-transform transform translate-x-full text-center w-full overflow-hidden"
      >
        <ul>
          <a href="{% url 'userProfile' %}"><i class="fa-solid fa-user"></i> 
            {% if not form.errors %}
                {{user}}
            {% endif %}
            
            {% if form.errors %}
              Kindly Change Your Username Correctly
            {% endif %}
          </a>    
          <li class="px-9 hover:text-blue-200">
            <a href="{% url 'safety' %}">Memberships</a>
          </li>
          <li class="px-9 hover:text-blue-200">
            <a href="{% url 'support' %}">We are Hiring ! </a>
          </li>
          <li class="px-9 list-none">
            <a href="{% url 'userProfile' %}">My Profile</a>
          </li>
          <li class="px-9 list-none">
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    {% comment %} JavaScript For Mobile Responsiveness {% endcomment %}

    <script src="{% static 'js/mobileToggle.js' %}"></script>

    <script
      src="https://kit.fontawesome.com/255894ee43.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
