{% load static %}
{% load static tailwind_tags %} {% include 'ChatApp/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Document</title>
  </head>
  <body class="bg-blue-600">
    <div class="container">
      <div
        class="treat-data text-center block lg:flex justify-around mt-5 lg:text-xl"
      >
        <div class="text">
          <h3>How we treat your data ?</h3>
          <br />
          <br />
          <h3>
            Trust builds when you be transparent which each other <br />
            That's why we share every technique we use for your data <br />
            SHA-256 Technique : <br />
            We use SHA-256 Encryption which encrypts your chats and passwords
          </h3>
        </div>
        <img
          src="{% static 'images/treat-data.png' %}"
          alt=""
          class="h-20 m-auto lg:m-0 mt-3"
        />
      </div>
      <hr class="mt-10" />

      <div
        class="treat-data text-center block lg:flex justify-around mt-5 lg:text-xl"
      >
        <img
          src="{% static 'images/handshake.png' %}"
          alt=""
          class="h-20 m-auto mt-3 lg:m-0"
        />
        <div class="text mt-3">
          <h3>We Value you Data</h3>
          <br />
          <br />
          <h3 class="p-10">
            Therefore we store data in such place<br />
            where your chats and passwords are accessible to you only <br />
          </h3>
        </div>
      </div>
    </div>
  </body>

  {% include 'ChatApp/footer.html' %}
</html>
